<div class="about" id="about">
  <h2>About</h2>
  <div class="container">
    <img data-sr src="assets/img/stu.png" alt="Stu Freen photo"/>
    <h3 data-sr='vFactor 0.9'>Stu Freen</h3>
    <a href="https://ca.linkedin.com/pub/stuart-freen/2/1a8/683" target="_blank"><img class="social-icon" src="assets/img/linkedin-icon.png" alt="Linked In icon"/></a>
    <a href="https://twitter.com/stafree" target="_blank"><img class="social-icon" src="assets/img/twitter-icon.png" alt="Twitter icon"/></a>
    <a href="https://www.instagram.com/stafree/" target="_blank"><img class="social-icon" src="assets/img/instagram-icon.png" alt="Instagram icon"/></a>
    <a href="https://www.flickr.com/photos/stafree" target="_blank"><img class="social-icon" src="assets/img/flickr-icon.png" alt="Flickr icon"/></a>
    <div data-sr='wait 0.2s scale 0%'>{{{ contents }}}</div>
  </div><!--end container-->
</div><!--end about-->