<div class="about" id="about">
  <h2>About</h2>
  <div class="container">
    <img class="stu-photo scroll-reveal" data-sr-delay="200" src="assets/img/stu.jpg" alt="Stu Freen photo"/>
    <h3 class="scroll-reveal">Stu Freen</h3>
    <a href="https://ca.linkedin.com/pub/stuart-freen/2/1a8/683" target="_blank"><img class="social-icon" src="assets/img/linkedin-icon.png" alt="Linked In icon"/></a>
    <a href="https://www.github.com/stufreen" target="_blank"><img class="social-icon" src="assets/img/github.png" alt="Github icon"/></a>
    <a href="https://twitter.com/stafree" target="_blank"><img class="social-icon" src="assets/img/twitter-icon.png" alt="Twitter icon"/></a>
    <a href="https://www.instagram.com/stafree/" target="_blank"><img class="social-icon" src="assets/img/instagram-icon.png" alt="Instagram icon"/></a>
    <a href="https://www.flickr.com/photos/stafree" target="_blank"><img class="social-icon" src="assets/img/flickr-icon.png" alt="Flickr icon"/></a>
    <div class="scroll-reveal" data-sr-delay="400">{{{ contents }}}</div>
  </div><!--end container-->
</div><!--end about-->