<div class="about" id="about">
  <h2>About</h2>
  <div class="container">
    <img alt="Stu Freen photo" class="stu-photo scroll-reveal" data-sr-delay="200" src="assets/img/stu.jpg"/>
    <h3 class="scroll-reveal">Stu Freen</h3>
    <a href="https://www.linkedin.com/in/stu-freen-6831a82/" rel="noreferrer" target="_blank"><img alt="Linked In icon" class="social-icon" src="assets/img/linkedin-icon.png"/></a>
    <a href="https://www.github.com/stufreen" rel="noreferrer" target="_blank"><img alt="Github icon" class="social-icon" src="assets/img/github.png"/></a>
    <a href="https://twitter.com/stafree" rel="noreferrer" target="_blank"><img alt="Twitter icon" class="social-icon" src="assets/img/twitter-icon.png"/></a>
    <a href="https://www.instagram.com/stafree/" rel="noreferrer" target="_blank"><img alt="Instagram icon" class="social-icon" src="assets/img/instagram-icon.png"/></a>
    <a href="https://www.flickr.com/photos/stafree" rel="noreferrer" target="_blank"><img alt="Flickr icon" class="social-icon" src="assets/img/flickr-icon.png"/></a>
    <div class="scroll-reveal" data-sr-delay="400">{{{ contents }}}</div>
  </div><!--end container-->
</div>
<!--end about-->