<div class="contact" id="contact">

  <h2>Contact</h2>

  <div class="container">

    <div class="contact-form">
    
      <form method="post"
        id="contact-form"
        name="contact_form">

        <label id="name">
          <div>
            <span>Name</span>
            <input type="text" name="name" id="contact-name" required/>
            <p class="form-error">Name required</p>
          </div>
        </label>
       
        <label id="email">
          <div>
            <span>E-mail</span>
            <input type="email" name="email" id="contact-email" required/>
            <p class="form-error">Valid email address required</p>
          </div>
        </label>
        
        <label id="description">
          <div>
            <span>Message</span>
            <textarea type="text" name="description" id="contact-description" required></textarea>
            <p class="form-error">Please enter a message</p>
          </div>
        </label>
        
        <input type="submit" name="submit" id="submit" value='Send'/>

      </form>
    </div><!--end contact-form-->
  </div><!--end container-->

  <div id="success-overlay" class="success-overlay"></div>

  <div id="success-message" class="success-message">
    <p>Thanks! Your message was sent. Stu will get back to you shortly.</p>
    <button id="success-message-closer">Okay</button>
  </div>

</div><!--end contact-->