<div class="contact">

  <h2><a name="contact">Contact</a></h2>

  <div class="container">

    <div data-sr='vFactor 0.3 wait 0.2s scale 0%' class="contact-details">
      <p class="contact-phone"><img src="assets/img/phone-icon.png" alt="Phone:"/>(416) 556-0723</p>
      <p class="contact-email"><img src="assets/img/email-icon.png" alt="Email:"/>stufreen@gmail.com</p>
    </div>

    <div class="contact-form">

      <p class="form-title"><a name="form">Get a quote for your project:</a></p>
    
      <form method="post" id="contact-form">

        <label id="name">
          <span>Name</span>
          <input type="text" name="name"/>&nbsp;*
          <p class="form-error">Name required</p>
        </label>
       
        <label id="email">
          <span>E-mail</span>
          <input type="text" name="email"/>&nbsp;* 
          <p class="form-error">Valid email address required</p>
        </label>
        
        <label id="description">
          <span>Describe your project</span>
          <textarea type="text" name="description" id="description"></textarea>&nbsp;*
          <p class="form-error">Please enter a description</p>
        </label>
        
        <input type="submit" name="submit" id="submit" value='Send'/>

      </form>
    </div><!--end contact-form-->
  </div><!--end container-->
</div><!--end contact-->

<div class="success-overlay"></div><!--end success-overlay-->

<div class="success-message">
  <p>Thanks! Your message was sent. Stu will get back to you shortly.</p>
  <a href="#">Okay</a>
</div><!--end success-message-->