<div class="header">
  <div class="container">
    <a href="./"><img alt="Stu Freen" id="banner" src="assets/img/stufreen.svg"></a>
  </div><!--end container-->
</div><!--end header-->

<div class="menu">
  <div class="container">
    <a class="smooth-scroll" href="#work">
      <span>Work</span>
    </a><a class="smooth-scroll" href="#about">
      <span>About</span>
    </a><a class="smooth-scroll" href="#contact">
      <span>Contact</span>
    </a>
  </div><!--end container-->
</div>
<!--end header-->